div#map-element {
   height: 100vh
}

body,html {
   padding: 0px;
   margin: 0px;
}

div#overlay {
   top: 0;
   left: 0;
   position: absolute;
   display: grid;
   grid-template-rows: 50px 1fr 50px;
   height: 100vh;
   width: 100vw;
   pointer-events: none;
   z-index: 9999;
}

div#overlay>div:nth-child(odd){
   background: #fff;
   padding: 0 20px;
   border: 2px solid black;
   font-size: 20px;
   line-height: 6px;
   pointer-events: auto;
}

.overlay-body {
   display: grid;
   grid-template-columns: 100px 1fr 500px

}
.overlay-body>div:last-child{
   background: #fff;
   border-left: 2px solid black;
   border-right: 2px solid black;
   pointer-events: auto;
}

div#overlay>div>*{
   display: inline-block;
}

p.title {
   font-weight: bold;
   color: red;
}

tr.selected {
   color: red;
}

.leaflet-popup {
   pointer-events: none;
}

.nopointer-layer {
   pointer-events: none !important;
}
